.navbar
{
    height: 50px;
    background-color: var(--theme1-blue);
    padding: 0 5px 0 10px;
    display: flex;
    column-gap: 10px;
}
.navbar .nav-logo
{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.navbar .nav-logo img
{
    height: 60%;
}


.navbar .nav-items
{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-items > .nav-item
{
    cursor: pointer;
}


.nav-item p
{
    padding: 8px 10px;
    color: white;

}
.nav-items .nav-item:hover
{
    background-color:  #0f6eaf;
    border-radius: 5px;
}
i
{
    margin-left: 5px;
    margin-right: 5px;
}
.navbar .nav-end
{
    display: flex;
    align-items: center;

}
.projects
{
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px 10px;
    border-bottom: 1pt solid #e1e1e1;
    height: 300px;
    overflow-y: auto;
}
.projects .projects-header
{
    padding-bottom: 10px;
    border-bottom: 1pt solid #e1e1e1;
    color: var(--theme1-blue);
}
