

.add-list,.list
{

    background-color: #e7e7e7;
    color: var(--theme1-blue);
    min-width: 150px;
    /* max-width: 250px;
    width: 200px; */
    padding: 15px;
    box-shadow: var(--g-box-shadow);
    height: fit-content;
    border-radius: 5px;
    transition: all var(--g-transition) .3s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    opacity: .8;
}



.add-list
{
    opacity: .7;
    min-width: 100px !important;
    border-radius: 50px;
}
.list-header
{
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.list-header > span
{
    overflow: hidden;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    width: calc(100%);
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    display: inline-block;
    cursor: pointer;
}

.list-header .options-btn
{
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    display: flex;
}
.list-header .options-btn:hover
{
    background: white;
}
.add-list
{
    cursor: pointer;
}
.add-list:hover,.list:hover
{
    opacity: 1;
}
.list-container
{
    display: flex;
    gap: 15px;
    padding: 15px;
    height: calc(100vh - 62px - 50px - 30px);
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    justify-content: flex-start;
}

.list .add-card-btn
{
    padding: 10px;
    border: 1pt solid;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease .2s;
    border-radius: 50px;
}
.list .add-card-btn:hover
{
    box-shadow: 0 0 10px #eeeeee;

    background-color: var(--theme1-blue);
    color: white;
    
}

.list .add-card-btn:hover *
{
    color: white;
}
.card-list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card
{
    padding: 0px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .3s;
    box-shadow: var(--g-box-shadow);
}

.card:hover 
{
    opacity: .7;
    
}

.card-name-input input
{
    
    border: none;
    padding: 10px;
    width: -webkit-fill-available;
    font-size: 17px;
    resize: none;
}

.card .card-name
{
    overflow: hidden;
    position: relative;
    width: calc(100%);
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    display: inline-block;
    line-height: 20px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.list-header .title-input
{
    flex: 1;
}
.list-header .title-input input
{
    width: -webkit-fill-available;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}

.list-options
{
    position: relative;
}

.list-options .list-dropdown
{
    position: absolute;
    background-color: white;
    left: 40px;
    top: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px #979797;
    z-index: 999;
    width: 200px;
    overflow: hidden;
}
.list-options .list-dropdown h3
{
    padding: 10px 10px 0px 10px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
}
.ld-item
{
    padding: 10px;
    cursor: pointer;
}


.ld-item:hover
{
    background: #f3f3f3;
}

.card .card-infos
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}
.card .card-infos .card-info
{
    font-size:14px;
    padding: 5px;
    background-color: #e7e7e7;
    border-radius: 5px;
}