

.active-day {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.head {
    padding: 0 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

.head > span {
    font-size: large;
    color: #80d0ff;
}

.main-calendar-grid {
    display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  flex: 1;
  margin: 15px;
  margin-top: 0;
}
.main-calendar-day {
    padding: 10px;
    border: 1pt solid #f0f0f0;
    cursor: pointer;
    transition: all ease .2s;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;


}
.main-calendar-day:hover {
    background-color: #f0f0f0;
}
.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.switch  {
    padding: 5px;
    border-radius: 5px;
    color:#228ed9;
    cursor: pointer;
}

.switch:hover {
    background: #c4e2f7;
}